
/*
nav {background-color: lightgreen}
.work-history {background-color: pink}
.gallery {background-color: lightblue}
.summary {background-color: yellow}
.contact-me {background-color:lightgray}
.quote {background-color: orange}
*/

html {
    scroll-behavior: smooth;
  }

body {background-color: #D9C4DA; min-width: 360px; ; width: 100%;overflow-x: hidden;}

@font-face {
    font-family: "font1";
    src: url(BaskervilleMTPro-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body, section {font-family: "font1", serif;}

.work-history {font-family: "Helvetica Neue", sans-serif ;}

section, nav {margin: 15px 0px 15px 0px; padding: 10px; box-sizing: border-box}

nav {text-align: center; min-width: 220px;}
.navItems {font-size: 100%; display: block;}
.navItems > * {width: 60%; margin: auto; text-align: left; font-size: 130%; margin-bottom: 15px;}
.profilePic { margin: auto; width: 80%; min-width: 150px; max-width: 270px; margin-bottom: 40px;}
nav h1 {font-size: 240%; margin-bottom: 40px; text-decoration: underline;}

.icon-set {display: block; width: 100%; position: relative; margin-bottom: 40px;} 
.personal-icon {height: 24px; display: inline; margin-right: 15px;}

.resume-link {text-align: center; margin-top: 45px; background-color: #010203; width: 150px; height: 45px; color: #FFFFFF; border-radius: 25px; border: solid 3px #FFFFFF; box-sizing: border-box; padding: 7.5px;}

.resume-link a {font-family: "Helvetica Neue", sans-serif;}

.summary, .quote {line-height: 1.5; padding:70px 50px}
.summary {text-align: justify;}

.social-icon {height: 35px;}
.social-icon:nth-of-type(2) {margin-left: 10px; margin-right: 10px;}

.contact-me {text-align: center; background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")}

#name-emphasis {display:inline; font-size: 150%; }


.work-history {background-image: url(work-history-background.webp); color: white;padding: 40px 20px;}
.work-history-page {margin-bottom: 30px; padding: 30px; border-radius: 20px;background-color: rgba(1,2,3,.5)}
.work-history h2 { margin-bottom: 40px; font-size: 160%; text-align: center;}
.work-history h3 {text-align: center; font-size: 130%;}
.date {text-align: center; margin-bottom: 30px;}

.ul-container ul {list-style: none;}

#hook-start, #hook-end {font-size:200%; color: #FFFFFF;text-shadow: #000000 -2px 0px 5px; text-align: center}
#hook-middle {margin: 20px; line-height: 2.25; display: inline; text-align: justify;}

    .form-placeholder {height: 300px}

    .emphasis { font-size: 150%;}

.gallery-mobile {width: 105%;margin-left: -2%; position: absolute; top:0; z-index: -2; margin-top: -3%; filter: brightness(.65);}
.gallery-img-mobile { width: 100%; -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))}
.gallery {display: none;}

@media screen and (min-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
    }

body {width: 100%;overflow-x: hidden;}

    section, nav {padding: 10px; box-sizing: border-box;}

    nav {margin: auto; text-align: center; width: 23%; float: left; height: 100%; text-align: right; padding-top: 20%; position: fixed;}
    body > section {width: 70%; float: right;}

    .summary {column-count: 2; column-gap: 40px; width: 65%;}
    .work-history {width: 100%;}
.quote p:nth-of-type(2) {width: 80%; margin: auto; margin-top: 20px; margin-bottom: 20px;}


    .ul-container {width: 70%; float: right;}

    
.gallery-mobile {display: none;}

    .gallery {height: auto; width: 104%; margin-right: -1.5%; margin-top: -1%;}

    .gallery-img  {object-fit: cover}

    footer {position: absolute;}
}