
/*
nav {background-color: lightgreen}
.work-history {background-color: pink}
.gallery {background-color: lightblue}
.summary {background-color: yellow}
.contact-me {background-color:lightgray}
.quote {background-color: orange}
*/

html {
    scroll-behavior: smooth;
  }

body {background-color: #D9C4DA; min-width: 360px; ; width: 100%;overflow-x: hidden;}

@font-face {
    font-family: "font1";
    src: url(BaskervilleMTPro-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body, section {font-family: "font1", serif;}

.work-history {font-family: "Helvetica Neue", sans-serif ;}

section, nav {margin: 15px 0px 15px 0px; padding: 10px; box-sizing: border-box;}

nav {text-align: center; min-width: 220px;}
.navItems { display: block; width: 80%; margin: auto;}
.navItems > p {width: auto; margin: auto; text-align: left; ; margin-left: 35px; margin-bottom: 10px;}
.profilePic { margin: auto; width: 80%; min-width: 150px; max-width: 270px; margin-bottom: 40px;}
nav h1 {font-size: 200%; margin-bottom: 40px; text-decoration: underline;}

.icon-set {display: block; ; position: relative; ; margin-top: 30px;} 
.personal-icon {height: 24px; display: inline; margin-right: 15px;}

.mobile-divider {border-bottom: 1px solid #010203; margin: 35px 0px;}

.button-link {text-align: center; background-color: #ffffff; height: 45px; color: #010203; border-radius: 25px; box-sizing: border-box; outline: solid 3px #D9C4DA; outline-offset: -6px; padding: 10px; width: 200px;font-size: 120%; margin: auto; margin-top: 30px; color: #010203; text-decoration: none;}

.button-link:visited {color: #010203; text-decoration: none;}


.links-header {margin-top: 20px;}

.summary, .quote {line-height: 1.5; padding: 0px 50px 60px}
.quote {padding: 70px 50px; text-align: left;}
.summary {text-align: justify;}

.social-icon {height: 35px;}
.social-icon:nth-of-type(2) {margin-left: 10px; margin-right: 10px;}

.contact-me {text-align: center; background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")}

#name-emphasis {display:inline; font-size: 150%; }


.work-history {background-image: url(work-history-background.webp); color: white;padding: 40px 20px;}
.work-history-page {margin-bottom: 30px; padding: 30px; border-radius: 20px;background-color: rgba(1,2,3,.25); border: #ffffff solid 1px;}
.work-history h2 { margin-bottom: 40px; font-size: 160%; text-align: center;}
.work-history h3 {text-align: center; font-size: 130%;}
.date {text-align: center; margin-bottom: 30px;}

.ul-container ul {list-style: none;}

#hook-start, #hook-end {font-size:150%; color: #FFFFFF;text-shadow: #000000 -2px 0px 5px;}
#hook-middle {line-height: 2; display: inline;}

    .form-placeholder {height: 300px}

    .emphasis { font-size: 150%;}

.gallery-mobile {width: 106%;margin-left: -3%; position: absolute; top:0; z-index: -2; margin-top: -3%; filter: brightness(.65);}
.gallery-img-mobile { width: 100%; -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))}
.gallery {display: none;}

.personal-icon-mobile {display: none;}

@media screen and (min-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
    }

body {width: 100%; overflow-x: hidden;padding: 0px 20px}

    nav {width: 18%; float: left; height: 90%; padding: 10% 0px; position: fixed; border-radius: 25px; background-color: rgba(255, 255, 255, 0.5);}

    .navItems > p {width: 100%; margin: auto; text-align: left; font-size: 80%;text-align: right}

    .social-icon {width: 25px}
    .personal-icon {width: 25px; display: inline;}

    body > section {width: 65%; float: right;}

    .summary {margin-top: 250px;}

    .personal-icon-mobile {height: 24px; display: inline; margin-left: 15px;}
    .personal-icon {display: none;}

    .mobile-divider {display: none;}

    .work-history {width: 100%;}
    
    .ul-container {width: 65%; float: right;}

    
    .gallery-mobile {display: none;}

    .gallery {display: block; width: 106%; margin-left: -5%; position: absolute; top:0; z-index: -2; margin-top: -7%;}

    .gallery-img {width: 100%;}

    footer {position: absolute; bottom: 0}
}

@media screen and (min-width: 768px) {
    
.navItems .button-link {width: 150px;}



}